<div class="issues-container flex h-screen overflow-hidden">

  <div class="issue-main-content flex-grow overflow-y-auto">
    <ng-container *ngIf="currentIssue$ | async as issue; else noIssueSelected">
      <app-issue-detail [issue]="issue"></app-issue-detail>
    </ng-container>
    <ng-template #noIssueSelected>
      <div class="p-6 text-center text-gray-500 italic h-full flex items-center justify-center">
        <p *ngIf="!(currentIssue$ | async) && issueId">Loading issue...</p>
      </div>
    </ng-template>
  </div>

  <div class="sidebar-wrapper w-[416px] flex-shrink-0 border-l border-gray-200 h-full overflow-y-auto sticky top-0">
    <ng-container *ngIf="currentIssue$ | async as issue">
      <ng-container *ngIf="issueOptions$ | async as options">
        <ng-container *ngIf="currentUser$ | async as resolvedCurrentUser">
          <ng-container *ngIf="allProjectUsers$ | async as resolvedAllProjectUsers">
            <app-issue-sidebar
              [issue]="issue"
              [typeOptions]="options.typeOptions"
              [severityOptions]="options.severityOptions"
              [priorityOptions]="options.priorityOptions"
              [statusOptions]="options.statusOptions"
              [currentUser]="resolvedCurrentUser"
              [allProjectUsers]="resolvedAllProjectUsers"
              (issuePropertyChange)="handleIssueUpdate($event)"
              (deleteIssueInitiated)="handleDeleteIssue($event)">
            </app-issue-sidebar>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
    <div *ngIf="!(currentIssue$ | async)" class="p-6 text-center text-gray-400 italic">
      No issue selected for sidebar.
    </div>
  </div>
</div>
